*{
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: western;
	src: url(../Asap.ttf);
}
body {
	font-family: western;
	background-image: url(../images/back.jpg);

}
header {
	background: white;

}
#wrapp {
	width: 90%;
	margin: 0 auto;
}
header img {
	float: left;
}
header h1 {
	float: right;
	font-size: 4em;
	margin-right: 200px;
	margin-top: 20px;
} 
.clr {
	clear: both;
}
nav ul {
	list-style: none;
}
nav ul li {
	display: inline-block;
	width: 100px;
	height: 30px;
	line-height: 30px;
	margin-right: 40px;
	font-size: 1.8em;
}
nav ul li:first-child {
	margin-left: 150px;
}
nav ul li:hover {
	color: orange;
	cursor: pointer;
}
article {
	padding: 30px;

}
article img{
	float: left;
	margin-right: 50px;
}
article h2 {
	text-align: center;
	font-size: 2em;
	color: SaddleBrown;
}
article p {
	padding: 20px;
	font-family: Tahoma;
	font-size: 1.2em;
	color: DarkKhaki;

}
.price {
	font-size: 4em;
	text-align: center;
	color: white;
	width: 500px;
	margin: 0 auto;

}
.price span {
	font-size: 1.8em;
	color: green;
}
.price span:hover {
	color: aqua;
	cursor: pointer;
}
.hr {
	width: 70%;
	border-bottom: 1px solid white;
	box-shadow: 5px 5px 5px white;
	margin: 50px auto;
}
footer {
	height: 120px;
	background-color: DarkSlateGray;
	padding-top: 30px;
}
footer h1 {
	text-align: center;
	color: white;
	font-size: 2.2em;
}
select {
	display: none;
}
@media(max-width: 400px) {
	body{
		width: 100%;
	}
	#wrapp {
		width: 100%;
	}
	header img {
		display: none;
	}
	header{
		background: white url('../images/logo.jpg') no-repeat;
		background-size: 50px 50px;
	}
	nav ul {
		display: none;
	}
	header h1 {
		font-size: 1.1em;
		margin-right: 80px;

	}
	article {
		width: 100%;
		margin: 0;
		padding: 0;
	}
	article img {
		width: 100%;

	}
	select {
		display: block;
		width: 100%;
		background: beige;
		padding-left: 300px;
	}
}